*,*::before,*::after{
    box-sizing:border-box;
  }

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a{
    display: block;
    text-decoration: none;
}

body{
    font-family:'roboto','Noto Serif TC', serif;
    line-height: $light-hight-base;
    font-size: $font-base;
}

.text-primary{
    color: $primary-dark;
}
.text-secondary{
    color: $primary;
}
.bg-primary{
    background-color: $primary;
}

.bg-secondary{
    background-color: $primary-light;
}



.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.jc-end{
    justify-content: end;
}


.jc-sb{
    justify-content: space-between;
} 

.jc-center{
    justify-content: center;
}

.ai-start{
    align-items: flex-start;
}

.ai-center{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.mb-1{
    margin-bottom: 8px;
}

.mb-2{
    margin-bottom: 16px;
}

.pt-l-7p5{
    padding-top: 60px;
}

.pt-l-12{
    padding-top: 96px;
}

.pb-l-10{
    padding-bottom: 80px;
}

.pb-l-20{
    padding-bottom: 160px;
}



@media(max-width:768px){
    .pt-m-5{
    padding-top: 40px;
    }
    .pt-m-7p5{
    padding-top: 60px;
    }
    .pb-m-7{
    padding-bottom: 56px;
    }
    .pb-m-12{
    padding-bottom: 96px;
    }
}

@media(max-width:375px){
    .pt-s-4{
    padding-top: 32px;
    }
    .pt-s-3p5{
    padding-top: 28px;
    }
    .pb-s-5{
    padding-bottom: 40px;
    }
    .pb-s-7{
    padding-bottom: 56px;
    }
}





.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
    @include pad{
        max-width: 720px;
    }
    @include mobile{
        max-width: 360px;
        padding: 0px 7.5px;
    }
}

.subtitle{
    font-size: $font-xl;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    @include pad{
        font-size: $font-l;
        margin-bottom: 32px;
    }
    @include padLg{
        font-size: $font-m;
        margin-bottom: 20px;
    }

}

.pages-title{
    font-size: $font-xl;
    line-height: 1.45;
    font-weight: bold;
    padding-left: 16px;
    border-left: 8px solid #9F1213;
    margin-bottom: 60px;
    @include pad{
        line-height: 1.39;
        border-left: 4px solid #9F1213;
        margin-bottom: 40px;
    }
    @include padLg{
        font-size: 28px;
        line-height: 1.42;
        padding-left: 8px;
        margin-bottom: 24px;
    }
}








