.header{
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true") no-repeat center;
    background-size: cover;
    height: 840px;

}

.header .title{
    text-align: right;
    padding-top: 348px;
    font-size: 36px;
    line-height: 1.45;
}

.title span{
    font-size: $font-xxl;
    line-height: 1.43;
    font-weight: bold;
}

@media (max-width:765px) {
    .header{
        background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true") no-repeat center;
        background-size: cover;
    }
    .title{
        padding-top: 372px;
        font-size: $font-s;
    }
    
    .title span{
        font-size: $font-xl;
    }
}

@media (max-width:375px) {
    .header{
        height: 394px;
    }
    .title{
        padding-top: 164px;
        font-size: $font-base;
    }
    
    .title span{
        font-size: $font-l;
    }
}

/* 介紹 */

.intro-list li{
    width: 23%;
    text-align: center;
    .intro-img{
    width: 100px;
    height: 100px;
    margin: 0 auto 16px auto;
    i{
        font-size: 83px;
    }
    }
}

.intro-list-title{
    font-size: $font-m;
    font-weight: bold;
}

.intro-list-text{
    color: black;
    text-align: left;
}

@media (max-width:768px) {
    .intro-list li{
        width: 50%;
        padding: 0px 40px 32px 40px;
    }
    .intro-list{
        margin-bottom: -32px;
    }
   
}

@media(max-width:576px){
    .intro-list.jc-sb{
        justify-content: center;
    }
    .intro-list li{
        width: 75%;
        padding: 0px 0px 32px 0px;
    }
}



/* 經典鏡框系列 */
.classic-product-list{
    margin-bottom: -32px;
}
.classic-product-list li{
    margin-bottom: 32px;
    .classic-product-img{
        width:55%;
        padding-right: 30px;
    }
    .classic-text{
        a{
           font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-style: italic;
            font-size: $font-xl;
            color: $primary;
            line-height: 1.31;
            padding-left: 8px; 
            &:hover{
                color: $primary-dark;
            }
        }
        i{
            font-size: 44px;
        }
    }
}

.classic-product-list{
    .reverse{
        .classic-product-img{
            padding-left: 30px;
            padding-right: 0;
        }
    }
}


@media (max-width:768px) {
    .classic-product-list{
        margin-bottom: -8px;
        .reverse{
           flex-direction: row-reverse;
           justify-content: start;
           .classic-product-img{
            padding-left: 0px;
            padding-right: 30px;
        }
        }
    }
    .classic-product-list li{
        margin-bottom: 8px;
        .classic-text{
            a{
               font-size: 28px;
            }
            i{
                font-size: 36px;
            }
        }
    }

}

@media(max-width:375px){
    .classic-product-list{
        li{
            position: relative;
            .classic-product-img{
            width: 100%;
            padding: 0;
            }
             .classic-text{
            @include position-center;
        }
        }  
    }
    .classic-product-list{
        .reverse{
           .classic-product-img{
            padding: 0;
        }
        }
    }

}

// 聯名設計鏡框
.cobranding-series{
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true") no-repeat center;
    .subtitle{
        color: $light;
    }
}


.cobranding-list li{
    width: 49%;
    position: relative;
    .cobranding-product-img{
        opacity: 0.5;
    }
    a{
       font-size: $font-xxxl; 
       font-family: 'Roboto', sans-serif;
       font-weight: bold;
       white-space: nowrap;
       @include position-center;
       &:hover{
           color: $primary-dark;
       }
       @include pad{
           font-size: $font-l;
       }
    }
}

@media(max-width:375px){
    .cobranding-list{
        margin-bottom: -16px;
        li{
            width: 100%;
            margin-bottom: 16px;
        }
    }
}

// 顧客推薦
.recommend-card{
    width: 23.5%;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    img{
        object-fit: cover;
    }
}

.recommend-body{
    flex-grow: 1;
    padding: 16px;
    .name{
        font-size: $font-xs;
        font-weight: 500;
    }
    .date{
        padding-top: 52px;
        font-size: $font-xs;
        color: #707070;
    }
}

@media(max-width:768px){
    .recommend-list{
        margin-bottom: -32px;
    }
    .recommend-card{
        width: 48%;
        margin-bottom: 32px;
        .recommend-body{
            padding: 16px 16px 16px 24px;
        }
    }
}

@media(max-width:375px){
    .recommend-list{
        margin-bottom: -16px;
    }
    .recommend-card{
        width: 100%;
        margin-bottom: 16px;
    }
}

// 聯絡我們
.contact-us .subtitle{
    margin-bottom: 24px;
    @include mobile{
        margin-bottom: 20px;
    }
}
.contact-form{
    width: 66.6%;
    margin: 0 auto;
    p{
        font-size: $font-s;
        margin-bottom: 20px;
    }
    .contact-form-input{
        label{
            margin-bottom: 4px;
        }
        input,textarea{
            width: 100%;
            padding: 12px 0px 14px 16px;
            margin-bottom: 16px;
            background-color: $primary-light;
            border: 1px solid #000;
        }
    }
    .contact-form-input textarea{
        height: 110px;
    }
    .contact-form-btn input{
        width: 33.3%;
        color: $light;
        margin-top: 40px;
        padding: 16px 0px;
        font-weight: bold;
        border: none;
        &:hover{
            cursor: pointer;
            background-color: $primary-dark;
        }
    }
}

@media(max-width:768px){
    .contact-form{
        p{
            font-size: $font-base;
            margin-bottom: 16px;
        }
        .contact-form-input{
            label{
                font-size: $font-xs;
            }
            input,textarea{
                font-size: $font-xs;
                padding: 8px 0px 8px 12px;
                margin-bottom: 8px;
            }
        }
        .contact-form-input textarea{
            height: 84px;
        }
        .contact-form-checkbox input{
            font-size: $font-xs;
        }
        .contact-form-btn input{
            margin-top: 20px;
            padding: 10px 0px;
        }
}
}

@media(max-width:576px){
    .contact-form{
        width: 100%;
    }
    .contact-form-btn input{
        width: 50%;
        padding: 8px 0px;
    }
}