// 頁頭選單
.nav-container{
    max-width: 1774px;
    margin: 0 auto;
    padding: 0px 15px;
    img{
        padding: 30px 0px;
    }
}

.nav-menu{
    margin-right: -32px;
}

.nav-menu li a{
    font-size: $font-s;
    color: $light;
    padding: 0px 32px;
    &:hover{
        color: pink;
    }
}

@media(max-width:768px){
    .nav-container{
        max-width: 720px;
        img{
            padding: 10px 0px;
        }
    }
    .nav-container >.d-flex{
        flex-direction: column;
    }
    .nav-menu{
        margin-right: -20px;
    }
    .nav-menu li a{
        padding: 5px 20px;
    }
}

@media(max-width:375px){
     .nav-container{
        max-width: 375px;
        padding: 0;
    }
    .nav-menu{
        margin-right: 0px;
        width: 100%;
    }
    .nav-menu li{
        width: 50%;
        text-align: center;
    }
    .nav-menu li a{
        padding: 8px 0px;
        border: 1px solid $light;
    }
    .nav-menu li a:hover{
        background-color: $light;
        color: $primary;
    }
}

.box{
    width: 100px;
    height: 100px;
    background-color:black
    ;
}

/** 頁尾**/
.footer-body{
    padding: 32px 0px;
   border-bottom: 1px solid $light;
   @include pad{
       padding: 32px 0px 20px 0px;
   }
   @include mobile{
       padding: 24px 0px;
   }
}

.footer-menu{
    margin-left: -24px;
    padding: 11px 0px 36px 0px;
    li a{
        color: $light;
        padding: 0px 24px;
    }
}

.footer-media{
    margin-right: -16px;
    li a{
        color: $light;
        font-size: 47px;
        padding: 0px 16px;
        line-height: 0;
    }
}



.contact-list li a{
    font-size: 36px;
    line-height: 1.3;
    color: $light;
    .contact-icon{
        padding-right: 20px;
    }
}

.footer-info{
    padding: 36px 0px 39px 0px;
    .privacy{
        margin-right: -24px;
        li a{
        color: $light;
        font-size: $font-xs;
        line-height: 1.42;
        padding: 0px 24px;
    }
    }
    
}

.copyright{
    color: $light;
}

.footer a:hover{
    text-decoration: underline;
}

@media(max-width:768px){
    .footer-menu{
        margin-left: -20px;
        padding: 6px 0px 18px 0px;
        li a{
            padding: 0px 20px;
        }
    }
    
    .footer-media{
        margin-right: -12px;
        li a{
            font-size: 23px;
            padding: 0px 12px;
        }
    }
    .contact-list li a{
        font-size: $font-s;
        .contact-icon{
            padding-right: 10px;
        }
    }
    
    .footer-info{
        padding: 24px 0px 32px 0px;
        .privacy{
            margin-right: -12px;
            li a{
            padding: 0px 12px;
        }
        }
        
    }
    
}

@media(max-width:576px){
    .d-none{
        display: none;
    }
    .contact-list li a{
        font-size: $font-base;
        .contact-icon{
            padding-right: 6.5px;
        }
    }
    .copyright{
        font-size: $font-xs;
        margin-bottom: 8px;
    }
    .footer-info{
        padding: 16px 0px 16px 0px;
        .privacy{
            flex-direction: column;
            margin-right: 0;
            li a{
            padding:0px 0px 8px 0px;
        }
        }
        
    }
}