@mixin text-hide{
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin pad{
    @media(max-width: 768px){
      @content;
    }
  }
  
@mixin padLg{
    @media(max-width: 576px){
      @content;
    }
  }
  
@mixin mobile{
    @media(max-width: 375px){
    @content;
    }
  }
  
  
  