$text-primary: #650300 ;
$text-secondary: #aa0601;
$bg-primary: #AA0601;
$bg-secondary: #FBF2F2;

$font-base: 16px;
$font-xs: $font-base * 0.875;
$font-s: $font-base * 1.25;
$font-m: $font-base * 1.5;
$font-l: $font-base * 2;
$font-xl: $font-base * 3;
$font-xxl: $font-base * 4;

$light-hight-base: 1.5;

