// color
$primary-dark: #650300 ;
$primary: #aa0601;
$primary-light: #FBF2F2;
$light: #fff;

// font size
$font-base: 16px;
$font-xs: $font-base * 0.875; //14px
$font-s: $font-base * 1.25;  //20px
$font-m: $font-base * 1.5;  //24px
$font-l: $font-base * 2;    //32px
$font-xl: $font-base * 3;   //48px
$font-xxl: $font-base * 4;   //64px
$font-xxxl: $font-base * 4.5;
// light hight
$light-hight-base: 1.5;

