/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

body {
  font-family: 'roboto','Noto Serif TC', sans-serif;
  line-height: 1.5;
  font-size: 16px; }

.h2, .h3 {
  font-size: 48px;
  font-weight: bold; }

.d-flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.pt-60 {
  padding-top: 60px; }

.mb-40 {
  margin-bottom: 40px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-8 {
  padding-bottom: 8px; }

.mb-8 {
  margin-bottom: 8px; }

.pb-16 {
  padding-bottom: 16px; }

.mb-16 {
  margin-bottom: 16px; }

.pr-30 {
  padding-right: 30px; }

.mb-32 {
  margin-bottom: 32px; }

.mr-30 {
  margin-right: 30px; }

.ml-30 {
  margin-left: 30px; }

.mr-8 {
  margin-right: 8px; }

.ml-8 {
  margin-left: 8px; }

/** layout css**/
.header-container {
  max-width: 1774px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 768px) {
    .header-container {
      max-width: 720px; } }
  @media (max-width: 375px) {
    .header-container {
      max-width: 375px;
      padding: 0; } }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 360px;
      padding: 0 7.5px; } }

.header {
  background-color: #AA0601; }

.h1 a {
  display: block;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
  width: 80px;
  height: 48.57px;
  margin: 30px 0;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 375px) {
    .h1 a {
      width: 48px;
      height: 29.14px;
      background-size: cover;
      margin: 10px 0; } }

.topmenu li {
  padding-left: 64px; }
  @media (max-width: 768px) {
    .topmenu li {
      padding-left: 40px; } }
  .topmenu li a {
    display: block;
    padding: 10px 0;
    color: white;
    font-size: 20px;
    text-decoration: none; }
    .topmenu li a:hover {
      color: black; }
      @media (max-width: 768px) {
        .topmenu li a:hover {
          color: white; } }

@media (max-width: 375px) {
  .header .d-flex-sb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .topmenu {
    width: 100%; }
  .topmenu li {
    width: 50%;
    border: 1px solid white;
    text-align: center;
    padding-left: 0; } }

@media (max-width: 375px) {
  .topmenu li a {
    padding: 8px 0;
    line-height: 1.45; } }

@media (max-width: 768px) {
  .topmenu li a:active {
    color: #aa0601;
    background: white; } }

/** footer css**/
.footer {
  background-color: #AA0601; }

.footer .d-flex {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.footer-menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  margin: 34px 0 26px 0; }

.footer-menu li {
  margin-right: 48px; }

@media (max-width: 768px) {
  .footer-menu a {
    padding: 10px 9px;
    margin: 28px 0 8px 0; }
  .footer-menu li {
    margin-right: 22px; } }

@media (max-width: 375px) {
  .footer-menu {
    display: none; } }

.footer .container {
  position: relative; }

.medialink {
  position: absolute;
  top: 32px;
  right: 15px; }

.medialink li {
  margin-left: 32px; }

.medialink a {
  display: block; }

@media (max-width: 768px) {
  .medialink li {
    margin-left: 24px; }
  .medialink img {
    width: 24px;
    height: 24px; } }

@media (max-width: 375px) {
  .medialink {
    top: 24px; } }

.footer-contact a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-left: 22px;
  font-size: 36px; }

@media (max-width: 768px) {
  .footer-contact a {
    font-size: 20px;
    margin-left: 8px; }
  .footer-contact .pb-16 {
    padding-bottom: 12px; }
  .footer-contact img {
    width: 24px;
    height: 24px; } }

@media (max-width: 375px) {
  .footer-contact a {
    font-size: 16px;
    line-height: 1.87;
    margin-left: 4px; }
  .footer-contact .pb-16 {
    padding-bottom: 6px; }
  .footer-contact img {
    width: 20px;
    height: 20px; } }

.footer-contact {
  padding-bottom: 24px;
  border-bottom: 1px white solid;
  margin-bottom: 23px; }

@media (max-width: 768px) {
  .footer-contact {
    margin-bottom: 14px; } }

@media (max-width: 375px) {
  .footer-contact {
    margin-bottom: 16px;
    padding-top: 25px; } }

.copyright {
  padding-bottom: 30px; }

.copyright p {
  color: white; }

.copyright-policy a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-left: 48px;
  padding: 10px 0; }

@media (max-width: 768px) {
  .copyright-policy a {
    margin-left: 24px; } }

@media (max-width: 375px) {
  .copyright {
    padding-bottom: 14px; }
  .copyright p {
    font-size: 14px; }
  .copyright .d-flex-sb, .copyright .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .copyright-policy a {
    margin-left: 0;
    padding: 8px 0 0 0; } }

.footer-menu a:hover, .copyright-policy a:hover, .footer-contact a:hover {
  text-decoration: underline; }

@media (max-width: 768px) {
  .footer-menu a:active, .copyright-policy a:active, .footer-contact a:active {
    color: black; } }

/** banner css**/
.banner {
  max-width: 100%;
  height: 840px;
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true) center; }

.banner .container {
  position: relative; }

.banner .h2 {
  position: absolute;
  top: 348px;
  right: 15px;
  text-align: right;
  font-size: 64px;
  color: #650300; }

.banner .h2 span {
  font-size: 36px;
  font-weight: normal; }

@media (max-width: 768px) {
  .banner .h2 {
    top: 372px;
    font-size: 48px; }
  .banner .h2 span {
    font-size: 14px; } }

@media (max-width: 375px) {
  .banner {
    height: 394px;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true);
    background-size: cover; }
  .banner .h2 {
    top: 164px;
    right: 7.5px;
    font-size: 32px; }
  .banner .h2 span {
    font-size: 16px; } }

/**about css**/
.about {
  background-color: #FBF2F2; }

.about .h2 {
  text-align: center;
  color: #650300; }

.about .d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.about-list li {
  width: 25%; }
  .about-list li .about-text {
    color: #650300; }

.icon-wrap-about {
  text-align: center;
  height: 100px; }

.about-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center; }

@media (max-width: 768px) {
  .about.pt-60 {
    padding-top: 40px; }
  .about.pb-80 {
    padding-bottom: 56px; }
  .about .h2 {
    font-size: 32px; }
  .about .mb-40 {
    margin-bottom: 0px; }
  .about-list li {
    width: 50%;
    padding: 32px 52.5px 0 52.5px; } }

@media (max-width: 375px) {
  .about.pt-60 {
    padding-top: 32px; }
  .about.pb-80 {
    padding-bottom: 40px; }
  .about .h2 {
    font-size: 24px;
    line-height: 2; }
  .about .mb-40 {
    margin-bottom: -12px; }
  .about-list li {
    width: 100%; } }

/** classic-product css **/
.classic-product .h2 {
  text-align: center;
  color: #650300; }

.classic-product li h3 {
  color: #aa0601; }

.classic-product .d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.classic-product .d-flex:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.classic-product-img {
  width: 58.33%; }

.icon-wrap-classic {
  width: 48px;
  height: 48px;
  text-align: center; }

@media (max-width: 768px) {
  .classic-product .h2 {
    font-size: 32px; }
  .classic-product .h3 {
    font-size: 28px;
    line-height: 2.5; }
  .classic-product .d-flex:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .icon-wrap-classic {
    width: 40px;
    height: 40px; }
  .classic-product-img.ml-30 {
    margin-left: 0;
    margin-right: 30px; }
  .icon-wrap-classic.ml-8 {
    margin-left: 0;
    margin-right: 8px; }
  .classic-product.pt-60 {
    padding-top: 40px; }
  .classic-product.pb-80 {
    padding-bottom: 56px; }
  .classic-product .mb-40 {
    margin-bottom: 32px; }
  .classic-product-img.mb-32 {
    margin-bottom: 8px; } }

@media (max-width: 375px) {
  .classic-product .h2 {
    font-size: 20px;
    line-height: 2.4; }
  .classic-product-img.ml-30 {
    margin-right: 0; }
  .classic-product-img.mr-30 {
    margin-right: 0; }
  .classic-product-img {
    width: 100%;
    position: relative; }
  .icon-wrap-classic, .classic-product .h3 {
    position: absolute; }
  .icon-wrap-classic {
    left: 62px; }
  .classic-product .h3 {
    left: 110px; }
  .classic-product.pt-60 {
    padding-top: 32px; }
  .classic-product.pb-80 {
    padding-bottom: 40px; }
  .classic-product .mb-40 {
    margin-bottom: 20px; } }

/** co-brading css **/
.co-branding {
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true) center; }

.co-branding .h2 {
  color: white;
  text-align: center; }

.co-branding ul li {
  width: 47%; }

.co-branding ul li img {
  opacity: 0.5; }

.double-a, .youth {
  position: relative; }

.double-a h4 a, .youth h4 a {
  display: block;
  font-size: 72px;
  text-decoration: none;
  color: #aa0601; }

.double-a h4 a:hover, .youth h4 a:hover {
  color: white; }

.double-a h4, .youth h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap; }

@media (max-width: 768px) {
  .co-branding {
    background-size: cover; }
  .co-branding .h2 {
    font-size: 32px; }
  .double-a h4 a, .youth h4 a {
    font-size: 32px; }
  .co-branding.pt-60 {
    padding-top: 40px; }
  .co-branding.pb-80 {
    padding-bottom: 56px; }
  .co-branding .mb-40 {
    margin-bottom: 32px; }
  .double-a h4 a:active, .youth h4 a:active {
    color: white; } }

@media (max-width: 375px) {
  .co-branding .h2 {
    font-size: 20px;
    line-height: 2.4; }
  .co-branding ul li {
    width: 100%; }
  .double-a.mr-30 {
    margin-right: 0;
    margin-bottom: 16px; }
  .co-branding.pt-60 {
    padding-top: 32px; }
  .co-branding.pb-80 {
    padding-bottom: 40px; }
  .co-branding .mb-40 {
    margin-bottom: 20px; } }

/** recommendation css **/
.recommendation .h2 {
  text-align: center;
  color: #650300; }

.recommendation .d-flex-sb {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.rec-vlogger {
  width: 23.5%; }

.rec-vlogger img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

.rec-text {
  padding: 16px;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  height: 204px;
  position: relative; }

.vlogger-name, .date {
  font-size: 14px; }

.date {
  color: #707070;
  position: absolute;
  bottom: 16px; }

@media (max-width: 768px) {
  .recommendation .h2 {
    font-size: 32px; }
  .rec-vlogger {
    width: 48%;
    margin-top: 32px; }
  .rec-text {
    padding: 16px 24px 16px 16px; }
  .recommendation.pt-60 {
    padding-top: 40px; }
  .recommendation.pb-80 {
    padding-bottom: 56px; }
  .recommendation .mb-40 {
    margin-bottom: 0px; } }

@media (max-width: 375px) {
  .recommendation .h2 {
    font-size: 20px;
    line-height: 2.4; }
  .rec-vlogger {
    width: 100%;
    margin-top: 14px; }
  .rec-text {
    padding: 16px 24px 16px 16px; }
  .recommendation.pt-60 {
    padding-top: 32px; }
  .recommendation.pb-80 {
    padding-bottom: 40px; }
  .recommendation .mb-40 {
    margin-bottom: 4px; } }

/** contact css **/
.container-wrap {
  width: 66.6%;
  margin: 0 auto; }

.contact .h2 {
  text-align: center;
  margin-bottom: 24px; }

.contact-text {
  font-size: 20px;
  margin-bottom: 20px; }

.name input, .telphone input, .mail input {
  width: 100%;
  padding: 12px 0 14px 16px; }

.textarea {
  width: 100%;
  height: 136px;
  padding: 12px 0 0 16px; }

.contact-form .btn input {
  color: white;
  padding: 16px 143px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #aa0601; }

.contact-form .btn input:hover {
  background-color: #650300; }

.contact-form .btn {
  text-align: center; }

@media (max-width: 768px) {
  .contact .h2 {
    font-size: 32px; }
  .contact-text {
    font-size: 16px;
    margin-bottom: 16px; }
  .name input, .telphone input, .mail input {
    padding: 8px 12px; }
  .contact-form .mb-16 {
    margin-bottom: 8px; }
  .contact-form {
    font-size: 14px; }
  .textarea {
    height: 100px;
    padding: 8px 0 0 12px; }
  .agreement.mb-40 {
    margin-bottom: 20px; }
  .contact-form .btn input {
    padding: 10px 77px;
    font-size: 14px; }
  .contact.pt-60 {
    padding-top: 40px; }
  .contact.pb-80 {
    padding-bottom: 56px; } }

@media (max-width: 375px) {
  .container-wrap {
    width: 100%; }
  .contact .h2 {
    font-size: 20px;
    line-height: 2.4;
    margin-bottom: 20px; }
  .contact-text {
    margin-bottom: 8px; }
  .contact-form .btn input {
    padding: 8px 54.5px; }
  .contact.pt-60 {
    padding-top: 30px; }
  .contact.pb-80 {
    padding-bottom: 40px; } }

/*# sourceMappingURL=all.css.map */
