@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  display: block;
  text-decoration: none; }

body {
  font-family: 'roboto','Noto Serif TC', serif;
  line-height: 1.5;
  font-size: 16px; }

.text-primary {
  color: #650300; }

.text-secondary {
  color: #aa0601; }

.bg-primary {
  background-color: #aa0601; }

.bg-secondary {
  background-color: #FBF2F2; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.ai-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.pt-l-7p5 {
  padding-top: 60px; }

.pt-l-12 {
  padding-top: 96px; }

.pb-l-10 {
  padding-bottom: 80px; }

.pb-l-20 {
  padding-bottom: 160px; }

@media (max-width: 768px) {
  .pt-m-5 {
    padding-top: 40px; }
  .pt-m-7p5 {
    padding-top: 60px; }
  .pb-m-7 {
    padding-bottom: 56px; }
  .pb-m-12 {
    padding-bottom: 96px; } }

@media (max-width: 375px) {
  .pt-s-4 {
    padding-top: 32px; }
  .pt-s-3p5 {
    padding-top: 28px; }
  .pb-s-5 {
    padding-bottom: 40px; }
  .pb-s-7 {
    padding-bottom: 56px; } }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 360px;
      padding: 0px 7.5px; } }

.subtitle {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .subtitle {
      font-size: 32px;
      margin-bottom: 32px; } }
  @media (max-width: 576px) {
    .subtitle {
      font-size: 24px;
      margin-bottom: 20px; } }

.pages-title {
  font-size: 48px;
  line-height: 1.45;
  font-weight: bold;
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .pages-title {
      line-height: 1.39;
      border-left: 4px solid #9F1213;
      margin-bottom: 40px; } }
  @media (max-width: 576px) {
    .pages-title {
      font-size: 28px;
      line-height: 1.42;
      padding-left: 8px;
      margin-bottom: 24px; } }

.nav-container {
  max-width: 1774px;
  margin: 0 auto;
  padding: 0px 15px; }
  .nav-container img {
    padding: 30px 0px; }

.nav-menu {
  margin-right: -32px; }

.nav-menu li a {
  font-size: 20px;
  color: #fff;
  padding: 0px 32px; }
  .nav-menu li a:hover {
    color: pink; }

@media (max-width: 768px) {
  .nav-container {
    max-width: 720px; }
    .nav-container img {
      padding: 10px 0px; }
  .nav-container > .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .nav-menu {
    margin-right: -20px; }
  .nav-menu li a {
    padding: 5px 20px; } }

@media (max-width: 375px) {
  .nav-container {
    max-width: 375px;
    padding: 0; }
  .nav-menu {
    margin-right: 0px;
    width: 100%; }
  .nav-menu li {
    width: 50%;
    text-align: center; }
  .nav-menu li a {
    padding: 8px 0px;
    border: 1px solid #fff; }
  .nav-menu li a:hover {
    background-color: #fff;
    color: #aa0601; } }

.box {
  width: 100px;
  height: 100px;
  background-color: black; }

/** 頁尾**/
.footer-body {
  padding: 32px 0px;
  border-bottom: 1px solid #fff; }
  @media (max-width: 768px) {
    .footer-body {
      padding: 32px 0px 20px 0px; } }
  @media (max-width: 375px) {
    .footer-body {
      padding: 24px 0px; } }

.footer-menu {
  margin-left: -24px;
  padding: 11px 0px 36px 0px; }
  .footer-menu li a {
    color: #fff;
    padding: 0px 24px; }

.footer-media {
  margin-right: -16px; }
  .footer-media li a {
    color: #fff;
    font-size: 47px;
    padding: 0px 16px;
    line-height: 0; }

.contact-list li a {
  font-size: 36px;
  line-height: 1.3;
  color: #fff; }
  .contact-list li a .contact-icon {
    padding-right: 20px; }

.footer-info {
  padding: 36px 0px 39px 0px; }
  .footer-info .privacy {
    margin-right: -24px; }
    .footer-info .privacy li a {
      color: #fff;
      font-size: 14px;
      line-height: 1.42;
      padding: 0px 24px; }

.copyright {
  color: #fff; }

.footer a:hover {
  text-decoration: underline; }

@media (max-width: 768px) {
  .footer-menu {
    margin-left: -20px;
    padding: 6px 0px 18px 0px; }
    .footer-menu li a {
      padding: 0px 20px; }
  .footer-media {
    margin-right: -12px; }
    .footer-media li a {
      font-size: 23px;
      padding: 0px 12px; }
  .contact-list li a {
    font-size: 20px; }
    .contact-list li a .contact-icon {
      padding-right: 10px; }
  .footer-info {
    padding: 24px 0px 32px 0px; }
    .footer-info .privacy {
      margin-right: -12px; }
      .footer-info .privacy li a {
        padding: 0px 12px; } }

@media (max-width: 576px) {
  .d-none {
    display: none; }
  .contact-list li a {
    font-size: 16px; }
    .contact-list li a .contact-icon {
      padding-right: 6.5px; }
  .copyright {
    font-size: 14px;
    margin-bottom: 8px; }
  .footer-info {
    padding: 16px 0px 16px 0px; }
    .footer-info .privacy {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-right: 0; }
      .footer-info .privacy li a {
        padding: 0px 0px 8px 0px; } }

.header {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true") no-repeat center;
  background-size: cover;
  height: 840px; }

.header .title {
  text-align: right;
  padding-top: 348px;
  font-size: 36px;
  line-height: 1.45; }

.title span {
  font-size: 64px;
  line-height: 1.43;
  font-weight: bold; }

@media (max-width: 765px) {
  .header {
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true") no-repeat center;
    background-size: cover; }
  .title {
    padding-top: 372px;
    font-size: 20px; }
  .title span {
    font-size: 48px; } }

@media (max-width: 375px) {
  .header {
    height: 394px; }
  .title {
    padding-top: 164px;
    font-size: 16px; }
  .title span {
    font-size: 32px; } }

/* 介紹 */
.intro-list li {
  width: 23%;
  text-align: center; }
  .intro-list li .intro-img {
    width: 100px;
    height: 100px;
    margin: 0 auto 16px auto; }
    .intro-list li .intro-img i {
      font-size: 83px; }

.intro-list-title {
  font-size: 24px;
  font-weight: bold; }

.intro-list-text {
  color: black;
  text-align: left; }

@media (max-width: 768px) {
  .intro-list li {
    width: 50%;
    padding: 0px 40px 32px 40px; }
  .intro-list {
    margin-bottom: -32px; } }

@media (max-width: 576px) {
  .intro-list.jc-sb {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .intro-list li {
    width: 75%;
    padding: 0px 0px 32px 0px; } }

/* 經典鏡框系列 */
.classic-product-list {
  margin-bottom: -32px; }

.classic-product-list li {
  margin-bottom: 32px; }
  .classic-product-list li .classic-product-img {
    width: 55%;
    padding-right: 30px; }
  .classic-product-list li .classic-text a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 48px;
    color: #aa0601;
    line-height: 1.31;
    padding-left: 8px; }
    .classic-product-list li .classic-text a:hover {
      color: #650300; }
  .classic-product-list li .classic-text i {
    font-size: 44px; }

.classic-product-list .reverse .classic-product-img {
  padding-left: 30px;
  padding-right: 0; }

@media (max-width: 768px) {
  .classic-product-list {
    margin-bottom: -8px; }
    .classic-product-list .reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start; }
      .classic-product-list .reverse .classic-product-img {
        padding-left: 0px;
        padding-right: 30px; }
  .classic-product-list li {
    margin-bottom: 8px; }
    .classic-product-list li .classic-text a {
      font-size: 28px; }
    .classic-product-list li .classic-text i {
      font-size: 36px; } }

@media (max-width: 375px) {
  .classic-product-list li {
    position: relative; }
    .classic-product-list li .classic-product-img {
      width: 100%;
      padding: 0; }
    .classic-product-list li .classic-text {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .classic-product-list .reverse .classic-product-img {
    padding: 0; } }

.cobranding-series {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true") no-repeat center; }
  .cobranding-series .subtitle {
    color: #fff; }

.cobranding-list li {
  width: 49%;
  position: relative; }
  .cobranding-list li .cobranding-product-img {
    opacity: 0.5; }
  .cobranding-list li a {
    font-size: 72px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .cobranding-list li a:hover {
      color: #650300; }
    @media (max-width: 768px) {
      .cobranding-list li a {
        font-size: 32px; } }

@media (max-width: 375px) {
  .cobranding-list {
    margin-bottom: -16px; }
    .cobranding-list li {
      width: 100%;
      margin-bottom: 16px; } }

.recommend-card {
  width: 23.5%;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px; }
  .recommend-card img {
    -o-object-fit: cover;
       object-fit: cover; }

.recommend-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 16px; }
  .recommend-body .name {
    font-size: 14px;
    font-weight: 500; }
  .recommend-body .date {
    padding-top: 52px;
    font-size: 14px;
    color: #707070; }

@media (max-width: 768px) {
  .recommend-list {
    margin-bottom: -32px; }
  .recommend-card {
    width: 48%;
    margin-bottom: 32px; }
    .recommend-card .recommend-body {
      padding: 16px 16px 16px 24px; } }

@media (max-width: 375px) {
  .recommend-list {
    margin-bottom: -16px; }
  .recommend-card {
    width: 100%;
    margin-bottom: 16px; } }

.contact-us .subtitle {
  margin-bottom: 24px; }
  @media (max-width: 375px) {
    .contact-us .subtitle {
      margin-bottom: 20px; } }

.contact-form {
  width: 66.6%;
  margin: 0 auto; }
  .contact-form p {
    font-size: 20px;
    margin-bottom: 20px; }
  .contact-form .contact-form-input label {
    margin-bottom: 4px; }
  .contact-form .contact-form-input input, .contact-form .contact-form-input textarea {
    width: 100%;
    padding: 12px 0px 14px 16px;
    margin-bottom: 16px;
    background-color: #FBF2F2;
    border: 1px solid #000; }
  .contact-form .contact-form-input textarea {
    height: 110px; }
  .contact-form .contact-form-btn input {
    width: 33.3%;
    color: #fff;
    margin-top: 40px;
    padding: 16px 0px;
    font-weight: bold;
    border: none; }
    .contact-form .contact-form-btn input:hover {
      cursor: pointer;
      background-color: #650300; }

@media (max-width: 768px) {
  .contact-form p {
    font-size: 16px;
    margin-bottom: 16px; }
  .contact-form .contact-form-input label {
    font-size: 14px; }
  .contact-form .contact-form-input input, .contact-form .contact-form-input textarea {
    font-size: 14px;
    padding: 8px 0px 8px 12px;
    margin-bottom: 8px; }
  .contact-form .contact-form-input textarea {
    height: 84px; }
  .contact-form .contact-form-checkbox input {
    font-size: 14px; }
  .contact-form .contact-form-btn input {
    margin-top: 20px;
    padding: 10px 0px; } }

@media (max-width: 576px) {
  .contact-form {
    width: 100%; }
  .contact-form-btn input {
    width: 50%;
    padding: 8px 0px; } }

.faq .pages-subtitle {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 36px; }
  @media (max-width: 768px) {
    .faq .pages-subtitle {
      margin-bottom: 32px; } }
  @media (max-width: 576px) {
    .faq .pages-subtitle {
      font-size: 20px;
      line-height: 1.2;
      font-weight: normal;
      margin-bottom: 24px; } }

.faq-list {
  margin-bottom: -32px; }
  .faq-list li {
    margin-bottom: 32px; }
  .faq-list .faq-list-question {
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 16px; }
  .faq-list .faq-list-answer {
    max-width: 920px;
    padding-left: 95px; }

@media (max-width: 768px) {
  .faq-list {
    margin-bottom: -24px; }
    .faq-list li {
      margin-bottom: 24px; }
    .faq-list .faq-list-answer {
      padding-left: 60px; } }

@media (max-width: 375px) {
  .faq-list {
    margin-bottom: -20px; }
    .faq-list li {
      margin-bottom: 20px; }
    .faq-list .faq-list-question {
      font-size: 16px;
      margin-bottom: 8px; }
    .faq-list .faq-list-answer {
      font-size: 14px;
      padding-left: 0px; }
      .faq-list .faq-list-answer span {
        display: block;
        padding-top: 14px; } }

.location-select {
  margin-bottom: 32px; }
  .location-select label {
    font-size: 24px;
    padding-right: 20px; }
  .location-select select {
    width: 305px;
    font-size: 18px;
    line-height: 1.4;
    color: #495057;
    padding: 8px 0px 8px 19px; }

.location-list {
  margin: 0px -1.5% -32px -1.5%; }

.location-card {
  width: 30.333%;
  border: 1px solid #00000020;
  margin: 0px 1.5% 32px 1.5%; }
  .location-card .location-title {
    font-size: 24px;
    padding: 12px 0px 12px 24px;
    border-bottom: 1px solid #00000020; }
  .location-card .location-card-body {
    font-size: 20px;
    padding: 16px 24px; }
    .location-card .location-card-body i {
      font-size: 18px;
      padding-right: 11px; }
  .location-card .location-info-btn {
    width: 100%;
    font-size: 19px;
    line-height: 1.42;
    text-align: center;
    color: #fff;
    background-color: black;
    padding: 20px 0px; }
    .location-card .location-info-btn:hover {
      background-color: #aa0601; }

@media (max-width: 768px) {
  .location-select {
    margin-bottom: 24px; }
    .location-select label {
      font-size: 16px; }
    .location-select select {
      width: 221px;
      font-size: 16px;
      line-height: 1.5;
      padding: 10px 0px 10px 16px; }
  .location-list {
    margin: 0px -2% -20px -2%; }
  .location-card {
    width: 46%;
    margin: 0px 2% 20px 2%; }
    .location-card .location-title {
      font-size: 16px;
      padding: 8px 0px 8px 24px; }
    .location-card .location-card-body {
      font-size: 14px; }
      .location-card .location-card-body i {
        font-size: 15px;
        padding-right: 10.5px; }
    .location-card .location-info-btn {
      width: 100%;
      font-size: 14px;
      padding: 16px 0px; } }

@media (max-width: 576px) {
  .location-list {
    margin: 0px -2% -20px -2%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .location-card {
    width: 60%; } }

@media (max-width: 375px) {
  .location-select {
    margin-bottom: 20px; }
    .location-select label {
      font-size: 14px; }
    .location-select select {
      width: 75%;
      font-size: 14px;
      padding: 7px 0px 7px 16px; }
  .location-list {
    margin: 0px 0px -16px 0px; }
  .location-card {
    width: 100%;
    margin-bottom: 16px; } }

/*# sourceMappingURL=all.css.map */
